/* stylelint-disable */

* {
  font-family: "Roboto";
  font-style: normal;
}

/* stylelint-enable */

.wrapper {
  background-color: #1c1c1c;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  overflow: hidden;
}

.content {
  flex-grow: 1;
}

.cinema__header {
  margin: 0px auto;
  margin-top: 80px;
  width: 148px;
  height: 28px;
}

.cinema__logo {
  width: 148px;
  height: 28px;
}

.search__input {
  flex: 1 1 auto;
}

input[type="text"] {
  font-weight: 300;
  font-size: 24px;
  line-height: 36px;

  display: flex;
  align-items: center;

  color: rgba(255, 255, 255, 0.4);
  width: 100%;
}

.search__container {
  display: flex;
  align-items: center;
  margin: 0 auto;
  width: 1280px;
  margin-top: 162px;
}

.search__string {
  margin: 0 auto;
  height: 74px;
  width: 100%;

  border-bottom: 2px solid #fdce25;
  border-radius: 2px;
  display: flex;
  align-items: center;
}

.search__group {
  margin: 0 auto;
  height: 48px;
  display: flex;
  align-items: center;
  flex: 0 1 auto;
  width: 100%;
}

.search__cross:hover {
  background: url("images/selected__cross.png") no-repeat;
  cursor: pointer;
}

.text {
  flex: 1 1 auto;
}

.text p {
  font-weight: 300;
  font-size: 24px;
  line-height: 36px;
  white-space: nowrap;
  color: rgba(255, 255, 255, 0.4);
}

.history {
  margin-top: 24px;
  display: flex;
  align-items: flex-start;
  max-width: 1280px;
  flex-wrap: wrap;
}

.history__item {
  background: rgba(255, 255, 255, 0.8);
  height: 36px;
  margin: 0 8px 8px 0;
  padding: 6px;
  display: flex;
  align-items: center;

  font-weight: 400;
  font-size: 16px;
  color: rgba(0, 0, 0, 0.8);
  border-radius: 8px;
}

.history__item:hover {
  background: rgba(255, 255, 255, 1);
  border-radius: 4px;
  height: 36px;
  margin: 0 8px 8px 0;
  padding: 6px;
  cursor: pointer;
}

.results {
  margin-top: 100px;
}

.results__text {
  height: 48px;
  width: 309px;
  margin-bottom: 36px;

  font-weight: 900;

  color: #ffffff;
  font-size: 36px;
  white-space: nowrap;
}

.results__text h3 {
  font-weight: 900;

  color: #ffffff;
  font-size: 36px;
  white-space: nowrap;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 24px;
}

movie-card {
  width: 302px;
  height: 454px;
}

.results__loader-invisible {
  display: none;
}

.results__loader-visible {
  display: block;
}

.name {
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
  display: flex;
  align-items: center;
  color: rgba(255, 255, 255, 0.24);
}

.results__item-loaded:hover .name {
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
  color: #ffffff;
}

.footer {
  margin-bottom: 16px;
  margin-top: 80px;
}

.footer__container {
  height: 15px;
  width: 144px;
  border: 1px solid gold;
}

.footer__text {
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  color: rgba(255, 255, 255, 0.4);
  text-align: center;
}
